.header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
  z-index: 999;
  background-color: white;
}

.logo {
  width: 150px;
}

.container {
  padding-top: 90px;
}

.section {
  margin: 0px 30px;
}

.title {
  margin: 20px 0px;
}

/*
  Card styles
*/

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgb(227, 227, 227);
  border-radius: 10px;
}

.card-content {
}

.card-title {
  padding: 10px 10px 5px 10px;
}

.card-desc {
  padding: 0px 10px 0px 10px;
  font-size: 13px;
  color: rgb(182, 182, 182);
}

.card-option {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  /* visibility: hidden; */
}

.card-option li {
  list-style: none;
  font-size: 9px;
  margin: 3px 2px;
  border-radius: 15px;
  padding: 3px 6px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.card-img {
  border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 475px) {
  .header {
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    position: relative;
    width: 120px;
  }

  .container {
    padding-top: 60px;
  }

  .title {
    font-size: 24px;
  }

  .section {
    margin: 0px 15px;
  }

  .card {
    width: calc(50% - 10px);
    margin: 10px 0px;
  }
}

@media screen and (max-width: 326px) {
  .header {
    background-color: aqua;
  }

  .card {
    flex-direction: row;
    width: 100%;
    margin: 10px 0px;
  }

  .card-img {
    width: 33%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
  }
}
